@font-face {
  font-display: swap;
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/brandon-text-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/brandon-text-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/brandon-text-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/euclid-flex-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/euclid-flex-700.woff2') format('woff2');
}